.all{display:flex;height:100%;flex-direction:column;}
/*=============header===============*/
header{height:1.2rem;margin:0 .12rem;}
header ul{height:.76rem;margin-top:.45rem;display:flex;}
header ul li{margin-left:.19rem;}
header ul li h2{height:.5rem;line-height:.5rem;color:#545864;font-size:.16rem;font-weight:100;}
header ul li p{color:#ccc;font-size:.12rem}
header ul li:nth-child(2){width:1.1rem;height:.75rem;margin-left:.51rem;padding-left:.18rem}
header ul li:nth-child(2) i.iconfont{display:block;font-size:.75rem;line-height:.75rem;color:#ccc;}
/*===========main=============*/
main{flex:1;overflow: auto;}
main ul{height:1rem;margin:0 .12rem;display:flex;padding-top:.2rem;}
main ul li{width:.93rem;height:100%;}
main ul li a{display:block;}
main ul li a p{text-align: center;font-size:.14rem;color:#ccc;}
main ul li a p.first{color:#000;font-size:.28rem;font-weight:bold;}
main .box{height:1.07rem;}
main .box h2{margin-left:.28rem;font-weight:100;color:#9598a9;font-size:.16rem;font-style:italic;line-height:.25rem}
main .box ul{display:flex;overflow: auto;}
main .box ul li{flex:1;width:.68rem;height:100%;margin-right:.14rem;}
main .box ul li a{display:block;}
main .box ul li a i{margin:.12rem .22rem;display:block}
main .box ul li a span{display:block;font-size:.12rem;width:.68rem;color:#ccc;text-align:center;}
main .box1{height:1.6rem;padding-top:.32rem;margin:0 .12rem;}
main .box1 img{display:block;width:100%;height:.97rem;}
main .box2{margin:0 .12rem;height:1.29rem;}
main .box2 h2{margin-left:.14rem;font-weight:100;color:#9598a9;font-size:.16rem;font-style:italic;line-height:.25rem}
main .box2 .big{border-radius:.05rem;display:flex;border:1px solid #ccc;margin-top:.23rem;height:.72rem;padding-top:.15rem;box-shadow:-.01rem -.01rem .1rem #ccc;}
main .box2 .big .box3{flex:1;}
main .box2 .big .box3 h3{font-weight:100;color:#9598a9;font-size:.14rem;}
main .box2 .big .box3 p{color:#ccc;font-size:.14rem;}
main .box2 .big a{box-shadow:-.01rem -.01rem .005rem #aaa;margin-right:.15rem;margin-top:.05rem;display:block;width:.79rem;height:.26rem;border:1px solid #5177f8;line-height:.26rem;text-align:center;color:#81a1e9}
main .big0{margin:0 .24rem;}
main .big0 .big1{line-height:.56rem;width:100%;display:flex;justify-content: space-between;height:.56rem;border-bottom:1px solid #ccc;}
main .big0 .big1 h5{color:#62677b;font-weight:100;font-size:.14rem;font-family:"宋体"}
main .big0 .big1 span{display:block;color:#ccc;}
/*===========footer=========*/
footer{display:flex;height:.49rem;margin:0 .25rem;}
footer ul{display:flex;height:100%;}
footer ul li{flex:1;flex-direction:column;justify-content:space-between;}
footer ul li:nth-last-child(1){margin-right:0;}
footer ul li a{display:block;width:.45rem;height:.45rem;margin-right:.55rem;}
footer ul li a i{display:block;font-size:26px;line-height:.3rem;color:#bbb;font-weight:bold;}
footer ul li a span{display:block;font-size:10px;color:#ccc;}







