.all{display:flex;height:100%;flex-direction:column;}
/*===========header=================*/
header{height:.78rem;}
header ul{margin:0 .14rem;height:100%;display:flex;justify-content: space-between;line-height:.78rem;margin-bottom:.14rem}
header ul li i.iconfont{color:#74798b;font-size:.24rem;font-weight:bold}
header ul li input{width:2.47rem;height:.51rem;border-radius:.05rem;border:0;box-shadow:-.02rem -.02rem .04rem #ccc,.02rem .02rem .04rem #ccc;}
header ul li input.iconfont{font-size:.14rem;color:#c1c4cb}
/*===============nav================*/
nav{height:1.66rem;padding:.17rem .22rem;display:block;}
nav ul{display:flex;height:50%;}
nav ul li{width:.55rem;height:.53rem;text-align:center;margin-right:.38rem;}
nav ul li:last-child(1){margin-right:0;}
nav ul li a{display:block;}
nav ul li a i.iconfont{margin:0 .15rem;font-size:27px;color:#f8dd3d}
nav ul li a span{width:100%;font-size:.12rem;color:#344048}
/*=========================main====================*/
main{flex:1;overflow: auto;}
main .box{margin-bottom:.32rem;height:.53rem;background:#f5f9f8;display:flex;justify-content: space-between;padding:.13rem .21rem}
main .box h2{font-size:16px;color:#b8bbc5;font-weight:100;}
main .box h2 span{border-radius:4px;box-shadow:-1px -1px 1px #ccc;width:.65rem;height:.27rem;line-height:.27rem;text-align:center;margin-left:.17rem;display:inline-block;border:1px solid #ccc;font-size:14px;color:#656565}
main .box  .all1{margin:.06rem 0;width:.15rem;height:.17rem;border:1px solid #ccc;background:#ccc;color:#fff;border-radius:.1rem;text-align:center;line-height:.17rem}
main .big{height:1.15rem;padding:0 .21rem;margin-bottom:.11rem;}
main .big img{display:block;width:3.33rem;height:1.15rem;}
main .big1{padding:0 .22rem;height:2rem;display:flex;margin-bottom:.35rem;}
main .big1 .l1{height:100%;}
main .big1 .l1 img{display:block;width:1.62rem;height:2rem;margin-right:.09rem}
main .big1 .r1{width:1.62rem;}
main .big1 .r1 div{border:1px solid #ccc;border-radius:.04rem;padding-left:.20rem;width:1.6rem;height:.95rem;background:#e1e2e6;margin-bottom:.1rem}
main .big1 .r1 div h2{font-style:italic;margin-top:.13rem;font-size:.16rem; color:#555963;font-weight:100;}
main .big1 .r1  div p{font-size:.12rem;color:#babebf;}
main .big1 .r1 div i{margin-left:1rem;color:#46c6c9;}
main .all0{height:1.8rem;margin-bottom:.34rem;}
main .all0 h2{font-size:16px;color:#353b56;font-weight:100;margin-left:.2rem;margin-bottom:.17rem;}
main .all0 .all2{height:1.45rem;background:#f5f5f5;display:flex;}
main .all0 .all2 .all3{border-radius:10px;display:flex;border:1px solid #eee;width:3.32rem;height:1.06rem;margin:auto;}
main .all0 .all2 .all3 .xiao{background:#fff;width:2.03rem;height:1.05rem;padding:.3rem .22rem;}
main .all0 .all2 .all3 .xiao h2{margin-top:.27rem;color:#182030;font-weight:100;margin-bottom:.11rem;}
main .all0 .all2 .all3 span{display:block;width:1.37rem;height:1.05rem;line-height:1.05rem;text-align:center;background:#ffd300}
main .box1{height:.94rem;margin-bottom:.17rem;border-bottom:1px solid #ccc;}
main .box1 h2{font-weight:100;color:#5f677a;font-size:.16rem;margin-left:.24rem;margin-bottom:.25rem;}
main .box1 ul{height:.34rem;margin:0 .2rem;display:flex;}
main .box1 ul li{width:.45rem;height:.34rem;margin-right:.38rem;position:relative;}
main .box1 ul li h5{color:#1f2232;}
main .box1 ul li h5:hover{color:yellow;}
main .box1 ul li span {position:absolute;top:.07rem;left:.4rem;flex:1;width:0;height:0;border-top:5px solid #cbd4d1;border-bottom:5px solid #fff;border-left:5px solid #fff;border-right:5px solid #fff;}
main .box1 ul li span:hover{border-top:5px solid yellow;}
main .box1 ul li:nth-last-child(1){margin-right:0;margin-top:-.05rem}
main .box1 ul li:nth-last-child(1) i.iconfont{display:block;font-size:24px;color:#000;font-weight:bold;}
main .box1 .bag{background:#fff;display:block;width:100%;height:8.5rem;position:relative;display:none;z-index:2;}
main .box1 .bag .city{border:1px solid #ccc;width:100%;height:5.5rem;display: flex;}
main .box1  .city .l1{display:block;width:50%;height:100%;border-right:1px solid #ccc;}
main .box1  .city .l1 p:nth-child(1){width:100%;color:#FFD300;margin-top:.15rem;margin-bottom:.2rem;}
main .box1 .bag .last1{width:100%;height:3rem;background:#aaa;}
main .box1  .city .r1{background:#eee;width:50%;height:100%;overflow: auto;z-index:2;}
main .box1  .city .r1 p:nth-child(1){margin-top:.15rem;}
main .box1  .city .r1 p{margin-bottom:.35rem;margin-left:.1rem;}
main .box1 .city1{background:#fff;width:100%;height:8.5rem;position:relative;display:none;z-index:2;}
main .box1 .city1 p{margin-left:.2rem;line-height:1rem;height:1rem;display:block;border-bottom:1px solid #ccc;}
main .box1 .city3{background:#fff;width:100%;height:5rem;position:relative;display:none;z-index:2;}
main .box1 .city3 h2{font-size:14px;margin-left:.2rem;font-weight:100;}
main .box1 .city3 .ci{display:flex;height:.8rem;width:5.4rem;}
main .box1 .city3 .ci  span:nth-child(1){margin-left:.2rem;}
main .box1 .city3 .ci  span{line-height:.3rem;margin-right:.25rem;border:1px solid #ccc;display:block;width:.6rem;height:.3rem;text-align: center;}
main .box1 .city3  input{font-size:16px;text-align:center;border:0;background:yellow;height:.6rem;width:100%;}
main .box2{height:3.24rem;padding:0 .2rem}
main .box2 .all1 {height:1.01rem;display:flex;}
main .box2 .all1 li:nth-of-type(1){position:relative;margin-right:.6rem;}
main .box2 .all1 li:nth-of-type(1) a{position:relative;display:block;width:1.05rem;height:.81rem;}
main .box2 .all1 li:nth-of-type(1) a img{width:1.05rem;height:.81rem;display:block;}
main .box2 .all1 li:nth-of-type(1) a span{display:block;opacity:0.3;background:#000;position:absolute;top:0;left:0;width:1.05rem;height:.81rem;}
main .box2 .all1 li:nth-of-type(1)  p{color:#4774d9;position:absolute;left:.06rem;top:.3rem;}
main .box2 .all1 li:nth-of-type(2) h2{font-weight:100;font-size:.14rem;margin-bottom:5px;}
main .box2 .all1 li:nth-of-type(2) p{font-size:.12rem;margin-bottom:5px}
main .box2 .all1 li:nth-of-type(2) span{margin-bottom:5px;font-size:.12rem;display:inline-block;background:#bbb;border:1px solid #ccc;color:#999;}
main .box2 .all1 li:nth-of-type(2) p.p1{color:#e16450;margin-right:.02rem}
main .box2 .all1 li:nth-of-type(2) p span{margin-left:.02rem;background:0;border:0;}
/*===========footer=========*/
footer{display:flex;height:.49rem;margin:0 .25rem;}
footer ul{display:flex;height:100%;}
footer ul li{flex:1;flex-direction:column;justify-content:space-between;text-align:center;}
footer ul li:nth-last-child(1){margin-right:0;}
footer ul li a{display:block;width:.45rem;height:.45rem;margin-right:.55rem;}
footer ul li a i{display:block;font-size:24px;line-height:.3rem;color:#94999c;font-weight:bold}
footer ul li a span{display:block;font-size:10px;}

